.loginContainer {

    display: flex;
    justify-content: center;
    height: 70%;
    align-items: center;
   
  }
 .loginPage {
    background-image: url("/images/circusBG.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100%; /* You must set a specified height */
    background-repeat: no-repeat; 
    background-size: cover; 
  
    
 }
  .welcome {
    display: flex;
    justify-content: center;
    font-family: 'circus';

    font-size: 100px;
  }